@font-face
  font-family: 'DM Sans'
  src: url('./DM_Sans/DMSans-Regular.ttf')
  font-weight: 400
@font-face
  font-family: 'DM Sans'
  src: url(./DM_Sans/DMSans-Medium.ttf)
  font-weight: 500
@font-face
  font-family: 'DM Sans'
  src: url(./DM_Sans/DMSans-Bold.ttf)
  font-weight: 600
@font-face
  font-family: 'DM Sans'
  src: url(./DM_Sans/DMSans-MediumItalic.ttf)
  font-style: italic
  font-weight: 500
@font-face
  font-family: 'DM Sans'
  src: url(./DM_Sans/DMSans-BoldItalic.ttf)
  font-style: italic
  font-weight: 600
@font-face
  font-family: 'DM Sans'
  src: url(./DM_Sans/DMSans-Italic.ttf)
  font-style: italic

@font-face
  font-family: 'Titillium Web'
  src: url(./Titillium_Web/TitilliumWeb-Regular.ttf)
  font-weight: 400
@font-face
  font-family: 'Titillium Web'
  src: url(./Titillium_Web/TitilliumWeb-Italic.ttf)
  font-weight: 400
  font-style: italic
@font-face
  font-family: 'Titillium Web'
  src: url(./Titillium_Web/TitilliumWeb-SemiBold.ttf)
  font-weight: 500
@font-face
  font-family: 'Titillium Web'
  src: url(./Titillium_Web/TitilliumWeb-SemiBoldItalic.ttf)
  font-weight: 500
  font-style: italic
@font-face
  font-family: 'Titillium Web'
  src: url(./Titillium_Web/TitilliumWeb-BoldItalic.ttf)
  font-weight: 600
  font-style: italic
@font-face
  font-family: 'Titillium Web'
  src: url(./Titillium_Web/TitilliumWeb-Bold.ttf)
  font-weight: 600
@font-face
  font-family: 'Titillium Web'
  src: url(./Titillium_Web/TitilliumWeb-Black.ttf)
  font-weight: 700
@font-face
  font-family: 'Titillium Web'
  src: url(./Titillium_Web/TitilliumWeb-Light.ttf)
  font-weight: 300
@font-face
  font-family: 'Titillium Web'
  src: url(./Titillium_Web/TitilliumWeb-LightItalic.ttf)
  font-weight: 300
  font-style: italic
@font-face
  font-family: 'Mukta Vaani'
  src: url(./Mukta_Vaani/MuktaVaani-Light.ttf)
  font-weight: 300
@font-face
  font-family: 'Mukta Vaani'
  src: url(./Mukta_Vaani/MuktaVaani-Regular.ttf)
  font-weight: 400
@font-face
  font-family: 'Mukta Vaani'
  src: url(./Mukta_Vaani/MuktaVaani-Medium.ttf)
  font-weight: 500
@font-face
  font-family: 'Mukta Vaani'
  src: url(./Mukta_Vaani/MuktaVaani-SemiBold.ttf)
  font-weight: 600