// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #335C67
$secondary = #6B6054
$accent    = #fdbcb4

$positive  = #21BA45
$negative  = #C10015
$info      = #97a7B3
$warning   = #f5cb5c

$generic-border-radius = 5px

$menu-background = lighten($accent, 40%)
$menu-box-shadow =  $shadow-4
$tooltip-color = $lime-1
$tooltip-background = $grey-9
$tooltip-padding = 6px 10px
$tooltip-mobile-padding = 8px 16px
$tooltip-fontsize = 11px
$tooltip-border-radius = $generic-border-radius
$tooltip-mobile-font-size = 14px

$typography-font-family ?= 'Titillium Web', 'DM_Sans'